h1{
         
    font-style: normal;
    background-color: black ;
    text-align: left;
}
.red{
    color: white;
    
}
.blue{
    color: aqua;
    
}


h2{
    background-color: #663399;
    color: white;
    text-align: center;
    font-family: monospace;
    font-style: italic;
    
}
h3{
    background-color: #9fc5f8;
    color: black;
    text-align: right;
    text-decoration: underline;
    font-weight: normal;
}